body {
    background-color: #a5a58d;
    font-size: 125%;
}

.skip {
    position: absolute;
    left: -1000px;
}

.skip:focus {
    position: relative;
    left: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 25px;
}

nav{
    background-color: rgb(146, 40, 40);
    padding: 10px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav li{
    background-color: rgb(146, 40, 40);
    margin-right: 20px;
    padding: 10px;
    border: 3px solid rgb(146, 40, 40) ;
    border-left: 3px solid white;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li.active {
    border: 3px solid white ;
}

nav li:hover {
    border-bottom: 3px solid white ;
}

#home-img {
    width: 100%;
    position: relative;
}

.jumbotron::before {
    content: "";
    background-color: black;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

img:not([id="home-img"]) {
    display: block;
    width: 300px;
    margin: auto;
    border: 10px solid white;
    border-radius: 10px;
}

img:not([id="home-img"]):nth-of-type(even) {
    display: block;
    width: 300px;
    margin: auto;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
}

img:not([id="home-img"]):hover {
    transform: scale(1.1);
    transition: 0.5s;
}